.advantages__wrapper {
  width: 1070px;
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 56px;
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #3D3D3D;
}

.advantages__sub-title {
  margin: 0;
  margin-top: 5px;
  text-align: center;
}

.advantages__list {
  .list-reset;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
}

.advantages__image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 148px;
  background-color: #F3F8FB;
  border-radius: 50%;
}

 .advantages__image-block:hover
 .advantages__image {
  animation: pulse 2s infinite 0s linear;
}

.advantages__description {
  width: 100%;
  margin: 0;
  margin-top: 11px;
  text-align: center;
  font-weight: 700;
}

.advantages__buttons {
  display: flex;
  justify-content: space-between;
  width: 458px;
  margin: 0 auto;
  margin-top: 39px;
}

.advantages__button {
  .button-reset;
}
