.call-form {
  background-color: #F5F5F5;
}

.call-form__wrapper {
  width: 1110px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 45px;
}

.call-form__title {
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #3D3D3D;
}

.call-form__field {
  margin: 0;
}

.call-form__bottom {
  display: flex;
  align-items: flex-end;
  margin-top: 14px;
}

.call-form__field {
  width: 390px;
  margin-right: 27px;
  box-sizing: border-box;
}

.call-form__label {
  display: block;
  margin-left: 9px;
}

.call-form__input {
  width: 100%;
  margin-top: 4px;
  padding: 9px 8px 9px 9px;
  box-sizing: border-box;
  border: 1px solid rgba(23, 113, 185, 0.2);
  border-radius: 4px;
}

.call-form__input::placeholder {
  font-size: 14px;
  color: #374561;
  opacity: 0.4;
}

.call-form__button {
  .button-reset;
}
