.into-water {
  margin-top: 27px;
}

.into-water__wrapper {
  width: 1110px;
  margin: 0 auto;
}

.into-water__title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  color: #3d3d3d;
}

.into-water__text {
  margin: 0;
  margin-top: 20px;
}

.into-water__img {
  display: block;
  min-width: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.into-water__call {
  width: 192px;
  margin-top: 28px;
  margin-bottom: 15px;
}

.into-water__call-link {
  position: relative;
  padding-left: 30px;
  padding-bottom: 6px;
  font-weight: bold;
  line-height: normal;
  font-size: 17px;
  color: #00254a;
  text-decoration: none;
  border-bottom: 2px solid #27ace2;

  &:hover {
    color: #27ace2;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon/call-icon.svg");
    background-repeat: no-repeat;
  }
}

.into-water__call-text {
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  color: #333333;
}

@media (max-width: 1200px) {
  .into-water__wrapper {
    width: 660px;
  }

  .into-water__img {
    width: 660px;
  }
}

@media (max-width: 700px) {
  .into-water {
    margin-top: 11px;
  }

  .into-water__wrapper {
    width: 280px;
  }

  .into-water__title {
    font-size: 26px;
    line-height: normal;
  }

  .into-water__text {
    margin-top: 12px;
  }

  .into-water__img {
    width: 280px;
  }
}
