.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 56px;
}

.pagination__button {
  display: block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 3px solid #3d3d3d;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);

  &:hover {
    border-color: #27ace2;
  }
}

.pagination__button--prev {
  transform: rotate(135deg);
}

.pagination__list {
  .list-reset;
  display: flex;
  justify-content: space-between;
  width: 279px;
}

.pagination__link,
.pagination__end {
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-decoration: none;
  color: #3d3d3d;
}

.pagination__link:hover,
.pagination__link--active {
  color: #27ace2;
}

.pagination__button--hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 700px) {
  .pagination {
    width: 280px;
  }

  .pagination__link {
    font-size: 21px;
    line-height: normal;
  }

  .pagination__list {
    width: 244px;
  }

  .pagination__button {
    width: 16px;
    height: 16px;
    margin-top: -3px;
  }
}
