.site-button {
  width: 226px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #27ace2;
  border-radius: 4px;

  &:hover {
    background-color: #0060aa;
  }
}

.site-button--small {
  width: 214px;
}

.site-button--cost,
.site-button--search {
  text-align: center;
  padding: 8px 10px;
  color: #27ace2;
  text-decoration: none;
  background-color: #ffffff;
  border: 2px solid #27ace2;

  &:hover {
    color: #ffffff;
    border-color: transparent;
  }
}

.site-button--search {
  width: 214px;
}

.site-button--form {
  width: 214px;
}

.site-button--thank {
  width: 147px;
}

.site-button--action {
  width: 177px;
  text-align: center;
  text-decoration: none;
}

.site-button--less {
  width: 178px;
}

.site-button--more {
  display: flex;
  justify-content: space-between;
  width: 218px;
  padding-left: 49px;
  padding-right: 44px;
  box-sizing: border-box;
  text-decoration: none;
}

.site-button--more img {
  min-width: auto;
}

@media (max-width: 700px) {
  .site-button--less {
    width: 120px;
    font-size: 12px;
  }
}
