.site-list {
  display: flex;
  justify-content: space-between;
  width: 504px;
}

.site-list__link {
  font-size: 14px;
  color: #00254A;
  text-decoration: none;

  &:hover {
    color: #27ACE2;
  }
}

.site-list--column {
  flex-direction: column;
  width: auto;
}

.site-list__item--column {
  margin-bottom: 15px;
}

.site-list__item--1 {
  order: 3;
}

.site-list__item--2 {
  order: 4;
}

.site-list__item--3 {
  order: 2;
}

.site-list__item--4 {
  order: 1;
}

.site-list__item--5 {
  order: 5;
}
