.site-list {
  display: flex;
  justify-content: space-between;
  width: 504px;
}

.site-list__link {
  font-size: 14px;
  color: #00254A;
  text-decoration: none;

  &:hover {
    color: #27ACE2;
  }
}
