{
  "extends": "stylelint-config-htmlacademy",
  "ignoreFiles": "source/less/fonts.less",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
